$media: $media-server + 'Games/WasteBusters/';
$sprite: $media + 'SpritesAnimations/';
$image: $media + 'ImageAssets/';

$black: #000;
$bright-green: #008000;
$dark-green: #315a16;
$grass: #7ab738;
$green: #81fe46;
$green-border: #75bc43;
$imagine-green: #006d05;
$light-grey: #f9f9f9;
$light-purple: #683eb5;
$pause-border: #74bc44;
$purple: #671db0;
$red-border: #9e1d20;
$text-color: #fff;
$white: #fff;

$transparent: transparent;
$transparent-blue: rgba(68, 198, 234, .56);
$transparent-green: rgba(140, 140, 140, .59);
$transparent-grey: rgba(140, 140, 140, .59);
$transparent-red: rgba(153, 26, 53, .71);
$transparent-white: rgba(255, 255, 255, .6);
